
// All Lines
.lines{
  position: absolute;
  width: 3px;
  height: 25px;
  background: darken($clr , 35%);
  left:49.9%;
  transform-origin: 50% 16.3em;
}

// Main Lines
.mainLine{
  width: 6px;
  height: 35px;
  background: darken($clr , 60%);
}
