
// All Lines
.lines{
  position: absolute;
  width: 3px;
  height: 25px;
  background: $clr-light;
  left:50%;
  transform-origin: 50% 16.3em;
}

// Main Lines
.mainLine{
  width: 6px;
  height: 35px;
  background: $clr-dark;
}