$clr-dark : #333;
$clr-light : #666;
$bg-clr-light: #7bcca6;
$bg-clr-dark: #1f4037;
$clock-bg: #dfdfdf;
$hand : 170px;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
}


@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}