


.hand{
  position: absolute;
  z-index: 12;
  background-color: $clr-light;
  bottom: 50%;
  left: 50%;
  border: 1px solid $clr-light;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  transform-origin: bottom;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.second-hand{
  margin-left:1px;
  width: 2px;
  height:$hand + 90px;
  border-color: $bg-clr-dark;
  background-color: $bg-clr-dark;
  z-index: 3;
}
  
.hour-hand{
  margin-left: -3px;
  width: 12px;
  height: $hand;
  z-index: 1;
}

.minute-hand{
  margin-left: -1px; 
  height: $hand + 30px;
  width: 8px;
  z-index: 2;
}

.dot{
  position: absolute;
  left: 49%;
  top:49%;
  z-index: 4;
  width: 20px;
  height: 20px;
  background-color: $clr-dark;
  border: 5px solid $bg-clr-dark;
  border-radius: 50%;
  display: flex;
  justify-content: center;
 align-items: center;
}

