


.hand{
  position: absolute;
  z-index: 12;
  background-color: darken($clr , 50%);
  bottom: 50%;
  left: 50%;
  border: 1px solid darken($clr , 50%);
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  transform-origin: bottom;
  transform: rotate(calc(var(--rotation) * 1deg));
}
.second-hand{
  margin-left:1px;
  width: 2px;
  height:$hand + 90px;
  border-color: darken($clr , 20%);
  background-color: darken($clr , 20%);
  z-index: 3;
}
  
.hour-hand{
  margin-left: -2px;
  width: 15px;
  height: $hand;
  z-index: 1;
}

.minute-hand{
  height: $hand + 30px;
  width: 10px; 
  z-index: 2;
}


.dot{
  position: absolute;
  left: 49%;
  top:48.5%; 
  z-index: 4;
  width: 22px;
  height: 22px;
  background-color: darken($clr , 20%);
  border: 6px solid darken($clr , 50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
 align-items: center;
}
@media only screen and (min-width: 880px) {  
  .dot {
    left: 49.5%;
  }
}